@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*Body*/
/*Header*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background: url(../assets/images/bg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 0.1rem;
  height: 80vh;
  background-repeat: no-repeat;
}
header .section-1 {
  display: flex;
  flex-direction: row;
}
header nav > [class=ul-middle] {
  display: flex;
  flex-direction: row;
  list-style: none;
  transform: translateX(14rem);
  gap: 2em;
}
header ul > [class=li-end] {
  display: flex;
  flex-direction: row;
  list-style: none;
  transform: translateX(18rem);
}
header h3 {
  transform: translateY(-20px);
}
header li {
  color: white;
  font-weight: bold;
}

.header {
  margin: 0 auto;
  width: 55%;
  text-align: center;
  color: white;
  transform: translateY(50px);
}

button {
  width: 150px;
  height: 40px;
  text-align: center;
  transform: translateX(540px);
  margin-top: 7rem;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

[class=btn-1] {
  transform: translateX(490px);
  background-color: black;
}

[class=btn-2] {
  transform: translateX(590px);
  background: none;
}

[class=btn-1]:hover {
  background-color: white;
  transition: 1s;
  color: black;
}

[class=btn-2]:hover {
  background-color: black;
  transition: 1s;
}

strong {
  font-weight: normal;
  animation: strong_weight 1s infinite;
}

@keyframes strong_weight {
  from {
    font-weight: normal;
    color: black;
  }
  to {
    font-weight: bold;
    color: red;
  }
}